body {
  font-size: 95%;
  font-family: Arial, Geneva, Helvetica, sans-serif;
  color: black;
  background-color: white;
  padding: 0;
  margin: 0;
}

/*
 * section id's
 */
#headerSection {
  margin: 2px 2% 0 2%;
  border-bottom: 1px solid #ddd;
  display: block;
  height: 68px;
  padding: 0;
}
#bodySection {
  clear: both;
}
#footerSection {
  clear: both;
  margin: 0 2%;
  border-top: 1px solid #ddd;
  text-align: center;
  padding: .5em;
}

/*
 * menu
 */
menu {
    margin-left: 1em;
    padding-left: 1em;
    white-space: nowrap;
}

/*
 * table
 */
table {}

  table.colortable {
    background-color: #dddddd;
  }

/*
 * h2
 */
h2 {
    font-size: 130%;
    font-weight: bold;
}

/*
 * h3
 */
h3 {
    font-size: 110%;
    font-weight: bold;
}

  div.section h3 {
    padding: .5em 1em;
    border-left: 1px solid blue;
    border-bottom: 1px solid blue;
  }

  h3 span.small {
    padding: 0 1em;
    font-size: 70%;
    font-style: italic;
  }

/*
 * h4
 */
h4 {
    font-size: 100%;
    font-weight: bold;
}

/*
 * td
 */
td {}

  td.bigq {
    color: orange;
    font-size: 24pt;
    text-align: center;
  }
  td.q {
    border: 1px solid orange;
  }
  td.biga {
    color: #1010e0;
    font-size: 24pt;
    text-align: center;
  }
  td.a {
    border: 1px solid #1010e0;
  }

/*
 * li
 */
li.oneline {
    display: inline;
    list-style-type: none;
}

/*
 * a
 */
a {
  color: blue;
}

/* css styling from Mary Woodcock-Kroble to provide
 * better navigation menus
 * 28th January 2006
 */

ul#leftnav,ul#rightnav{
    margin: 2px 5px;
    padding: 2px;
    font-size: 85%;
    font-weight: bold;
    list-style-type: none;
}
ul#leftnav li,ul#rightnav li {
    margin: 2px;
    padding: 0px 0px 10px;
}

ul#leftnav ul,ul#rightnav ul {
    margin: 2px 5px 2px 25px;
    padding: 5px 0px 0px;
    font-size: 100%;
    font-weight: normal;
    list-style: disc outside none;
}

ul#leftnav li,ul#rightnav li {
    margin: 2px;
    padding: 0px 0px 10px;
}
ul#leftnav li li,ul#rightnav li li {
    margin: 0px;
    padding: 0px;
}
ul#rightnav {
    padding-left: 10px;
}

ul#leftnav ul ul ,ul#rightnav ul ul {
    margin: 2px 5px 2px 10px;
    padding: 0px 0px 0px;
    font-weight: normal;
    list-style: none outside none;
}

/*
 * p
 */
p {}

  #footerSection p {
    font-size: 80%;
    margin: 0;
    padding: 0;
  }

/*
 * img
 */
img {}

/*
 * Specific use classes
 */
.topBanner {
  float: right;
  margin: 0;
  border: 0;
  vertical-align: middle;
}

/*
 * Generic classes
 */
.menuheader {
    font-weight: bold;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.noborder {
  border: 0;
  margin: 0;
}

.navleft {
    padding-right: 5px;
    border: 1px solid #cccccc;
    border-width: 0px 1px 0px 0px;
}

.navright {
    padding-left: 5px;
    border: 1px solid #cccccc;
    border-width: 0px 0px 0px 1px;
}

.body {
    padding: 0 5px 0 10px;
}

.section-content {
    padding-left: 1em;
    padding-right: 1em;
}

.footer {
    text-align: center;
    font-size: 80%;
}

.note {
    margin: 1em;
    padding: 1em;
    border: 2px solid gray;
}

.source {
    margin: 0em 1em 0em 1em;
    padding: 0em 1em 0em 1em;
    border: 2px solid #bbbbbb;
    white-space: pre;
}
.smallitalic {
    font-size: 9pt;
    font-style: italic;
}
.smallplain {
    font-size: 8pt;
    margin-left: 20px;
}
.section {
    font-size: 90%;
    margin-left: 5%;
}
